.yellow {
  background-color: #d697237e;
  text-align: left;
}
.brown {
  background-color: #575c0e71;
  text-align: left;
}

.posterName {
  font-size: 18px;
}

.post-content {
  background-color: #ffffffd3;
  border-left: 3px solid #363636;
  padding: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.white-text {
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  margin: 0rem 1rem;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.post-date {
  font-size: 11px;
  color: #e8e8e8;
  margin-top: -5px;
  margin-bottom: 10px;
}

.profile-picture {
  transition: transform 0.2s ease;
}

.profile-picture:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.edit-delete-buttons {
  display: flex;
  gap: 1rem;
}

.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
