.home-container {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #575c0f;
    overflow: hidden;
}

body {
    background-image: radial-gradient(#575c0f41 1px, #ededed 0.5px);
    background-size: 10px 10px;
    background-attachment: scroll, #b7b7b7;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    filter: drop-shadow(0 0 0.2rem #d69723);
}

.logo img {
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cta-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6rem 2rem;
    flex: 1;
    position: relative;
    z-index: 5;
}

.main-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    filter: drop-shadow(0 0 0.2rem #575c0f55);
}

.main-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 600px;
    filter: drop-shadow(0 0 0.2rem #575c0f55);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .main-section h1 {
        font-size: 2.5rem;
    }

    .main-section p {
        font-size: 1rem;
    }

    .cta-buttons {
        flex-direction: column;
        width: 100%;
    }
}
