#root {
    margin: 0 auto;
    text-align: center;
}

.round-edge {
    border: #9b9b9b;
    border-radius: 1rem;
}

.primary-text-color {
    color: rgb(39, 63, 27);
}

.primary-background-color {
    background-color: rgb(237, 237, 237);
}

.std-padding {
    padding: 0.5rem;
    margin: 0.5rem 1rem;
}

.vertical-items {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

/* Global button styling: */

.button {
    text-decoration: none;
    padding: 0.5rem 1.2rem;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.2s ease;
    filter: drop-shadow(0 0 0.2rem #d69723);
    background-color: #d69723;
    color: white;
}

.button:hover {
    background-color: #c1881e;
    color: white;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .button {
        display: block;
        width: 300px;
        margin: 0px auto;
    }
}
